@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to "Image Gallery"</h1>
    <p>You can start voting by clicking <a asp-area="" asp-controller="Gallery" asp-action="Index" asp-route-pageNumber="0">start voting</a> or by navigating to gallery in the nav bar.</p>
</div>
