@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to "Image Gallery"</h1>
    <p>You can start voting by clicking <a asp-area="" asp-controller="Gallery" asp-action="Index" asp-route-pageNumber="0">start voting</a> or by navigating to gallery in the nav bar.</p>
    <p>You can vote on 10 pictures in total. No less no more. You can also change your vote at any time. Bear in mind when you submit your last vote, you will be automatically redirected to the summary page</p>
</div>
